@{
    ViewData["Title"] = "ANA SAYFA";
}

<div class="text-center">
    <h1 class="display-4">hoşgeldiniz</h1>
    <p>bizimle iletişim kurun <a href="https://www.instagram.com/aykutguness1/?hl=tr">AYKUT GÜNEŞ</a>.</p>
</div>
