@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<h1>Gizlilik Politikası</h1>

<p>Kişisel bilgileriniz, gizliliğinizin korunması amacıyla güvenli bir şekilde saklanacak ve üçüncü şahıslarla paylaşılmayacaktır.</p>
